@charset "UTF-8";
@font-face {
  font-family: Acrom;
  font-display: swap;
  src: url("../fonts/Acrom-Bold.woff2") format("woff2"), url("../fonts/Acrom-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Acrom;
  font-display: swap;
  src: url("../fonts/Acrom-ExtraBold.woff2") format("woff2"), url("../fonts/Acrom-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Acrom;
  font-display: swap;
  src: url("../fonts/Acrom-Light.woff2") format("woff2"), url("../fonts/Acrom-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Acrom;
  font-display: swap;
  src: url("../fonts/Acrom-Medium.woff2") format("woff2"), url("../fonts/Acrom-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Acrom;
  font-display: swap;
  src: url("../fonts/Acrom-Regular.woff2") format("woff2"), url("../fonts/Acrom-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Geometria;
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Geometria_Medium;
  font-display: swap;
  src: url("../fonts/Geometria_Medium.woff2") format("woff2"), url("../fonts/Geometria_Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 396px;
}

body {
  color: #000000;
  line-height: 1.25;
  font-family: "Acrom", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Acrom";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 90rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.bt-line {
  position: relative;
}
@media (any-hover: hover) {
  .bt-line:hover::after {
    background-color: #EDAA46;
  }
}
.bt-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transition: all 0.3s ease 0s;
}
@media (min-width: 63.99875em) {
  .bt-line::after {
    height: 2px;
  }
}

.main-title {
  font-family: "Geometria";
  font-size: 2.125rem;
  line-height: 1.1;
  color: #EDAA46;
  letter-spacing: -0.3px;
}
@media (min-width: 99.99875em) {
  .main-title {
    font-size: 82px;
  }
}
.main-title span {
  color: #1E0EDC;
}

.title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 63.99875em) {
  .title {
    font-size: 40px;
  }
}
@media (min-width: 99.99875em) {
  .title {
    font-size: 64px;
  }
}

.form__row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 63.99875em) {
  .form__row {
    flex-direction: row;
  }
  .form__row_sb {
    justify-content: space-between;
  }
}
.form__tel, .form__btn {
  height: 3.125rem;
}
@media (min-width: 63.99875em) {
  .form__tel, .form__btn {
    height: 4.6875rem;
    width: 22.5rem;
  }
}
@media (min-width: 99.99875em) {
  .form__tel, .form__btn {
    height: 6.25rem;
    width: 29.1875rem;
  }
}
.form__tel {
  margin-bottom: 1.375rem;
  border: 0.4px solid #EDAA46;
  border-radius: 2px;
  padding: 8px 4px;
  font-size: 1rem;
  font-weight: 300;
}
.form__tel::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__tel._form-error {
  border-color: red;
}
@media (min-width: 63.99875em) {
  .form__tel {
    font-size: 1.4375rem;
    margin-bottom: 0;
  }
}
@media (min-width: 99.99875em) {
  .form__tel {
    font-size: 2rem;
    padding: 8px;
  }
}
.form__btn {
  background: #EDAA46;
  box-shadow: 0px 2.07547px 8.30189px rgba(0, 0, 0, 0.25);
  border-radius: 2.07547px;
  font-weight: 700;
  font-size: 1.375rem;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .form__btn:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    background-color: #ec9613;
  }
}
@media (min-width: 99.99875em) {
  .form__btn {
    font-size: 2rem;
  }
}
.form__checkbox {
  display: grid;
  grid-template-columns: 31% 47% 22%;
  row-gap: 8px;
  padding-bottom: 30px;
}
@media (min-width: 99.99875em) {
  .form__checkbox {
    grid-template-columns: 29.5% 49% 21.5%;
    row-gap: 45px;
    margin-right: -2.8125rem;
    padding-bottom: 85px;
  }
}
.form__checkbox-item {
  display: inline-flex;
  align-items: center;
}
.form__checkbox-item input {
  display: none;
}
.form__checkbox-item input:checked + .form__checkbox-label::before {
  opacity: 1;
}
.form__checkbox-label {
  position: relative;
  padding: 0.1875rem 0.1875rem 0.1875rem 1.8125rem;
  cursor: pointer;
}
@media (min-width: 99.99875em) {
  .form__checkbox-label {
    padding: 0.1875rem 0.1875rem 0.1875rem 5.625rem;
  }
}
.form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 5px;
  border: 0.3px solid #000000;
  border-radius: 2px;
  width: 1.1875rem;
  height: 1.1875rem;
}
@media (min-width: 99.99875em) {
  .form__checkbox-label::after {
    left: 10px;
    top: 5px;
    border-radius: 5px;
    border-width: 1px;
    width: 2.9375rem;
    height: 2.9375rem;
  }
}
.form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  background: center/cover no-repeat url("../img/V.png");
  width: 0.625rem;
  height: 0.4375rem;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}
@media (min-width: 99.99875em) {
  .form__checkbox-label::before {
    left: 33px;
    width: 1.25rem;
    height: 0.9375rem;
  }
}
@media (min-width: 99.99875em) {
  .form__checkbox-text {
    font-size: 2.5rem;
  }
}

.header__wrapper {
  min-height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 63.99875em) {
  .header__wrapper {
    align-items: flex-end;
  }
}
@media (min-width: 99.99875em) {
  .header__logo {
    margin-right: 5.125rem;
  }
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Geometria";
  padding-top: 27px;
  padding-right: 6px;
  letter-spacing: -0.3px;
}
@media (min-width: 63.99875em) {
  .header__contacts {
    padding-right: 0;
    padding-bottom: 10px;
  }
}
@media (min-width: 99.99875em) {
  .header__contacts {
    padding-bottom: 20px;
  }
}
.header__tel:link {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.23;
  transition: color 0.3s ease 0s;
  margin-bottom: 6px;
}
@media (min-width: 63.99875em) {
  .header__tel:link {
    font-size: 1.5625rem;
    margin-bottom: 8px;
  }
}
@media (min-width: 63.99875em) and (any-hover: hover) {
  .header__tel:link:hover {
    color: #EDAA46;
  }
}
@media (min-width: 99.99875em) {
  .header__tel:link {
    font-size: 2rem;
  }
}
.header__contacts-text {
  color: #EDAA46;
  font-weight: 500;
  letter-spacing: 0;
}
@media (min-width: 63.99875em) {
  .header__contacts-text {
    font-size: 1.25rem;
  }
}

.logo {
  font-family: "Acrom";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87px;
  height: 79px;
}
@media (min-width: 63.99875em) {
  .logo {
    width: 130px;
    height: 118px;
  }
}
@media (min-width: 99.99875em) {
  .logo {
    width: 223px;
    height: 200px;
    padding-top: 0.875rem;
  }
}
.logo__img {
  width: 53px;
  height: 51px;
  margin-bottom: 5px;
}
@media (min-width: 63.99875em) {
  .logo__img {
    width: 90px;
    height: 87px;
  }
}
@media (min-width: 99.99875em) {
  .logo__img {
    width: 134px;
    height: 130px;
  }
}
.logo__text {
  font-size: 0.75rem;
  color: #1E0EDC;
  font-weight: 800;
  text-shadow: 0px 1.975px 11.85px rgba(30, 14, 220, 0.2);
}
@media (min-width: 63.99875em) {
  .logo__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 99.99875em) {
  .logo__text {
    font-size: 2rem;
  }
}

.menu {
  display: none;
}
@media (min-width: 63.99875em) {
  .menu {
    display: block;
    font-family: "Geometria";
    padding-bottom: 0.3125rem;
  }
}
@media (min-width: 99.99875em) {
  .menu {
    padding-bottom: 1.125rem;
  }
}
.menu__list {
  display: flex;
}
.menu__list li:not(:last-child) {
  margin-right: 3.4375rem;
}
@media (min-width: 99.99875em) {
  .menu__list li:not(:last-child) {
    margin-right: 5rem;
  }
}
@media (min-width: 63.99875em) {
  .menu__link {
    font-size: 1.0625rem;
    font-weight: 500;
    transition: color 0.3s ease 0s;
  }
}
@media (min-width: 63.99875em) and (any-hover: hover) {
  .menu__link:hover {
    color: #EDAA46;
  }
}
@media (min-width: 99.99875em) {
  .menu__link {
    font-size: 1.25rem;
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
.footer {
  padding-bottom: 3.125rem;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.footer__year {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (min-width: 63.99875em) {
  .footer__year {
    font-size: 22px;
  }
}
@media (min-width: 99.99875em) {
  .footer__year {
    font-size: 32px;
  }
}
.footer__designer img {
  width: 22px;
  height: 43px;
}
@media (min-width: 63.99875em) {
  .footer__designer img {
    width: 35px;
    height: 70px;
  }
}
@media (min-width: 99.99875em) {
  .footer__designer img {
    width: 50px;
    height: 100px;
  }
}

.main-screen {
  padding-bottom: 6.25rem;
}
@media (min-width: 63.99875em) {
  .main-screen {
    padding-top: 130px;
  }
}
@media (min-width: 99.99875em) {
  .main-screen {
    padding-top: 210px;
    padding-bottom: 12.5rem;
  }
}
.main-screen__container {
  position: relative;
}
.main-screen__h1 {
  font-size: 0rem;
  position: absolute;
  visibility: hidden;
}
.main-screen__image {
  margin: 0 -32px;
  padding-top: 16px;
  width: calc(100% + 64px);
}
@media (min-width: 63.99875em) {
  .main-screen__image {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-5%, 17%);
    z-index: -1;
    width: 37.5rem;
    height: 27.9375rem;
  }
}
@media (min-width: 99.99875em) {
  .main-screen__image {
    transform: translate(18%, 6%);
    width: 54.4375rem;
    height: 40rem;
  }
}
.main-screen__image img {
  width: 100%;
}
.main-screen__title {
  margin-top: 1.75rem;
  margin-bottom: 0.6875rem;
}
@media (min-width: 99.99875em) {
  .main-screen__title {
    margin-bottom: 33px;
  }
}
.main-screen__text {
  font-size: 1rem;
  margin-bottom: 3.125rem;
}
@media (min-width: 99.99875em) {
  .main-screen__text {
    font-size: 2.5rem;
    width: 50%;
    margin-bottom: 6.0625rem;
  }
}
.we-work {
  padding-bottom: 5.625rem;
}
@media (min-width: 99.99875em) {
  .we-work {
    padding-bottom: 11.5625rem;
  }
}
.we-work__title {
  margin-bottom: 3.125rem;
}
@media (min-width: 99.99875em) {
  .we-work__title {
    margin-bottom: 5rem;
  }
}
.we-work__grid {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;
}
@media (min-width: 63.99875em) {
  .we-work__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 21.5625rem);
    row-gap: 1.875rem;
    padding: 0 7.625rem;
  }
}
@media (min-width: 99.99875em) {
  .we-work__grid {
    grid-template-rows: repeat(2, 27.8125rem);
    row-gap: 3.125rem;
    padding: 0 7.625rem;
  }
}
.we-work__grid::after {
  content: "";
  background: center/contain no-repeat url("../img/logo.svg");
  width: 92%;
  height: 100%;
  position: absolute;
  transform: translateY(-2%);
  z-index: -1;
  opacity: 0.15;
}
@media (min-width: 99.99875em) {
  .we-work__grid::after {
    width: 1008px;
    height: 970px;
    transform: translateY(1%);
  }
}
.we-work__item {
  height: 9.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem;
}
@media (min-width: 63.99875em) {
  .we-work__item {
    height: 15.625rem;
  }
}
@media (min-width: 99.99875em) {
  .we-work__item {
    height: 27.8125rem;
  }
}

.item-we-work {
  width: 8.125rem;
}
@media (min-width: 63.99875em) {
  .item-we-work {
    width: 100%;
  }
}
.item-we-work img {
  margin-bottom: 7px;
  width: 4.6875rem;
}
@media (min-width: 63.99875em) {
  .item-we-work img {
    width: 10rem;
  }
}
@media (min-width: 99.99875em) {
  .item-we-work img {
    width: 11.875rem;
  }
}
.item-we-work span {
  font-weight: 700;
  text-align: center;
}
@media (min-width: 63.99875em) {
  .item-we-work span {
    font-size: 20px;
  }
}
@media (min-width: 99.99875em) {
  .item-we-work span {
    font-size: 32px;
  }
}

.discount {
  padding-bottom: 6.25rem;
}
@media (min-width: 99.99875em) {
  .discount {
    padding-bottom: 12.5rem;
  }
}
@media (min-width: 99.99875em) {
  .discount__wrapper {
    padding: 0 7.625rem;
  }
}
.discount__title {
  margin-bottom: 1.25rem;
}
@media (min-width: 99.99875em) {
  .discount__title {
    margin-bottom: 1.5625rem;
  }
}
.discount__text {
  margin-bottom: 1.3125rem;
}
@media (min-width: 99.99875em) {
  .discount__text {
    font-size: 40px;
    margin-bottom: 3.75rem;
  }
}
.advantages {
  padding: 3.4375rem 0;
  position: relative;
}
@media (min-width: 99.99875em) {
  .advantages {
    padding: 7.3125rem 0;
  }
}
.advantages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 14, 220, 0.1);
  filter: blur(3.73698px);
}
.advantages__grid {
  display: grid;
  justify-items: center;
  gap: 55px 35px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15px;
}
@media (min-width: 63.99875em) {
  .advantages__grid {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
  }
}
.advantages__item {
  width: 10rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 99.99875em) {
  .advantages__item {
    width: 100%;
    padding: 0;
  }
  .advantages__item:nth-child(1) {
    width: 18.125rem;
    justify-self: start;
  }
  .advantages__item:nth-child(2) {
    width: 18.8125rem;
  }
  .advantages__item:nth-child(3) {
    width: 18.3125rem;
  }
  .advantages__item:nth-child(4) {
    width: 16.375rem;
    justify-self: end;
  }
}
.advantages__item img {
  margin-bottom: 3px;
  width: 4.9375rem;
  height: 4.9375rem;
}
@media (min-width: 63.99875em) {
  .advantages__item img {
    width: 6.9375rem;
    height: 6.9375rem;
    margin-bottom: 3px;
  }
}
@media (min-width: 99.99875em) {
  .advantages__item img {
    margin-bottom: 10px;
    width: 12.0625rem;
    height: 12.0625rem;
  }
}
.advantages__item span {
  text-align: center;
  display: inline-block;
}
@media (min-width: 63.99875em) {
  .advantages__item span {
    font-size: 1.0625rem;
  }
}
@media (min-width: 99.99875em) {
  .advantages__item span {
    font-size: 32px;
  }
}
.advantages__item span:nth-child(2) {
  margin: 0 -3px;
}

.work {
  padding-top: 6.25rem;
  padding-bottom: 5.9375rem;
}
@media (min-width: 99.99875em) {
  .work {
    padding-top: 195px;
    padding-bottom: 225px;
  }
}
.work__title {
  margin-bottom: 2.5rem;
}
@media (min-width: 99.99875em) {
  .work__title {
    margin-bottom: 5.9375rem;
  }
}
@media (min-width: 47.99875em) {
  .work__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 63.99875em) {
  .work__wrapper {
    gap: 60px 74px;
  }
}
@media (min-width: 99.99875em) {
  .work__wrapper {
    gap: 120px 148px;
  }
}
.item-work {
  padding: 8.5px 17.5px;
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
@media (min-width: 99.99875em) {
  .item-work {
    padding: 0 55px 0 0;
    column-gap: 25px;
  }
}
.item-work:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-work img {
  width: 80px;
  height: 80px;
  margin-top: 5px;
}
@media (min-width: 63.99875em) {
  .item-work img {
    width: 140px;
    height: 140px;
    margin-top: 15px;
  }
}
@media (min-width: 99.99875em) {
  .item-work img {
    width: 223px;
    height: 223px;
    margin-top: 20px;
  }
}
.item-work__num {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: #EDAA46;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
@media (min-width: 63.99875em) {
  .item-work__num {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 43px;
    margin-bottom: 14px;
  }
}
@media (min-width: 99.99875em) {
  .item-work__num {
    width: 6.3125rem;
    height: 6.3125rem;
    font-size: 64px;
    margin-bottom: 22px;
  }
}
.item-work__title {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.3125rem;
}
@media (min-width: 63.99875em) {
  .item-work__title {
    font-size: 25px;
  }
}
@media (min-width: 99.99875em) {
  .item-work__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
@media (min-width: 63.99875em) {
  .item-work__text {
    font-size: 18px;
  }
}
@media (min-width: 99.99875em) {
  .item-work__text {
    font-size: 24px;
  }
}

.breaking {
  padding-bottom: 6.25rem;
}
@media (min-width: 63.99875em) {
  .breaking {
    padding-bottom: 9.375rem;
  }
}
@media (min-width: 99.99875em) {
  .breaking {
    padding-bottom: 12.5rem;
  }
}
.breaking__title {
  margin-bottom: 3.125rem;
}
@media (min-width: 99.99875em) {
  .breaking__title {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 47.99875em) {
  .breaking__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.625rem;
    row-gap: 1.25rem;
  }
}
@media (min-width: 99.99875em) {
  .breaking__wrapper {
    column-gap: 1.25rem;
    row-gap: 3.75rem;
  }
}
.item-breaking {
  background: #E9E7FB;
  border-radius: 2.8px;
  padding: 1.375rem;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.item-breaking:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (min-width: 47.99875em) {
  .item-breaking {
    height: 100%;
  }
  .item-breaking:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 99.99875em) {
  .item-breaking {
    padding: 39px 40px 39px 53px;
    column-gap: 80px;
  }
}
.item-breaking img {
  width: 7.8125rem;
  height: 7.8125rem;
}
@media (min-width: 63.99875em) {
  .item-breaking img {
    width: 10.625rem;
    height: 10.625rem;
  }
}
@media (min-width: 99.99875em) {
  .item-breaking img {
    width: 13.9375rem;
    height: 13.9375rem;
  }
}
.item-breaking__item {
  font-weight: 500;
}
.item-breaking__item:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (min-width: 63.99875em) {
  .item-breaking__item {
    font-size: 16px;
  }
}
@media (min-width: 99.99875em) {
  .item-breaking__item {
    font-size: 24px;
  }
}

.testimonials {
  padding-bottom: 6.25rem;
}
@media (min-width: 99.99875em) {
  .testimonials {
    padding-bottom: 8.4375rem;
  }
}
.testimonials__title {
  margin-bottom: 2.5rem;
}
@media (min-width: 99.99875em) {
  .testimonials__title {
    margin-bottom: 6.25rem;
  }
}
.testimonials__swiper {
  margin-bottom: 1.125rem;
}
.testimonials__slider-pagging {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.testimonials__slider-pagging .swiper-pagination-bullet {
  cursor: pointer;
  width: 1.1875rem;
  height: 1.1875rem;
  border-radius: 50%;
  background-color: #FDF7ED;
  transition: all 0.3s ease 0s;
}
.testimonials__slider-pagging .swiper-pagination-bullet-active {
  background-color: #EDAA46;
}
@media (min-width: 99.99875em) {
  .testimonials__slider-pagging .swiper-pagination-bullet {
    width: 1.375rem;
    height: 1.375rem;
  }
}

.testimonials-item {
  background: rgba(237, 170, 70, 0.1);
  border-radius: 3px;
  padding: 0.625rem;
  font-weight: 500;
}
@media (min-width: 63.99875em) {
  .testimonials-item {
    padding: 14px 10px;
    font-size: 1rem;
  }
}
@media (min-width: 99.99875em) {
  .testimonials-item {
    padding: 22px 17px;
    font-size: 1.5rem;
  }
}
.testimonials-item__text {
  margin-bottom: 1.4375rem;
}
.testimonials-item__haeder {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 6px 19px;
}
@media (min-width: 99.99875em) {
  .testimonials-item__haeder {
    padding: 0;
  }
}
.testimonials-item img {
  width: 3.5625rem;
  height: 3.5625rem;
}
@media (min-width: 63.99875em) {
  .testimonials-item img {
    width: 4.6875rem;
    height: 4.6875rem;
  }
}
@media (min-width: 99.99875em) {
  .testimonials-item img {
    width: 6.375rem;
    height: 6.375rem;
  }
}
.testimonials-item__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.call {
  padding-bottom: 6.25rem;
}
.call__content {
  margin-bottom: 2.5rem;
}
@media (min-width: 99.99875em) {
  .call__content {
    padding: 0 7.625rem;
  }
}
.call__title {
  margin-bottom: 2.3125rem;
}
@media (min-width: 99.99875em) {
  .call__title {
    margin-bottom: 5.3125rem;
  }
}
.call__contacts {
  margin-bottom: 3.125rem;
}
@media (min-width: 99.99875em) {
  .call__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 95px;
  }
}
.call__contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.125rem;
}
@media (min-width: 99.99875em) {
  .call__contacts-item {
    margin-bottom: 0;
  }
}
.call__contacts-tel:link {
  font-weight: 500;
  font-size: 1.375rem;
  transition: color 0.3s ease 0s;
  font-family: "Geometria";
}
@media (min-width: 63.99875em) {
  .call__contacts-tel:link {
    font-size: 32px;
  }
}
@media (min-width: 63.99875em) and (any-hover: hover) {
  .call__contacts-tel:link:hover {
    color: #EDAA46;
  }
}
@media (min-width: 99.99875em) {
  .call__contacts-tel:link {
    font-size: 48px;
  }
}
.call__contacts-operator {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #EDAA46;
}
@media (min-width: 63.99875em) {
  .call__contacts-operator {
    font-size: 23px;
  }
}
@media (min-width: 99.99875em) {
  .call__contacts-operator {
    font-size: 36px;
  }
}
.call__text {
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
  padding: 0 10px;
  line-height: 1.18;
}
@media (min-width: 63.99875em) {
  .call__text {
    font-size: 23px;
  }
}
@media (min-width: 99.99875em) {
  .call__text {
    font-size: 32px;
    margin-bottom: 85px;
  }
}
@media (min-width: 99.99875em) {
  .call__form {
    padding: 0 7.625rem;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
